:root {
    --light: #ffffff;
    --light-x: rgb(204, 225, 247);
    --dark: rgb(2, 2, 2);
}

body {
    font-family: 'Spartan', sans-serif;
    font-weight: 300;
    color: var(--dark);
}

.text-light {
    color: var(--light) !important;
}

.bg-dark {
    background-color: var(--light) !important;
}

.bg-dark-x {
    background-color: var(--light-x);
}

h1 a {
    color: #F6BD60;
}

.btn {
    min-height: 3.125rem;
    font-weight: 600;
}

.form-control {
    min-height: 3.125rem;
    line-height: initial;
}

.form-control:focus {
    background-color: var(--light-x);
    outline: none;
}

.form-control2 {
    min-height: 3.125rem;
    line-height: initial;
}

.form-control2:focus {
    background-color: var(--light-x);
    outline: none;
}

#uploadFile {
    align-content: flex-start;
    margin-top: 15%;
}

#imgUpload {
    width: 80%;
    margin-top: 65%;
}